<!DOCTYPE html>
<html>
    <body>
        		
		<div id={{ chartID|safe }} class="chart" style="height: 100%; width: 100%"></div>
		<script>
			var chart_id = {{ chartID|safe }}
			var series = {{ series|safe }}
			var title = {{ title|safe }}
			var xAxis = {{ xAxis|safe }}
			var yAxis = {{ yAxis|safe }}
			var chart = {{ chart|safe }}
		</script>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
			<script src="http://code.highcharts.com/highcharts.js"></script>
            <div id="my-chart"></div>
            <script type="text/javascript">
              new Highcharts.Chart({{chart|safe}});
            </script>
    </body>
</html>