{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />
  
  <title>CricVision</title>
  <style>
    /* Add your custom CSS styles here */
    body {
      margin: 0;
      padding: 0;
      background: black;
    }
    
    .container {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black
    }
    
    .embedded-content {
      width: 80%;
      height: 80vh;
    }
  </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">CricVision</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Analysis Modules
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="/team_and_player">Team and Player Analysis</a>
                  </li>
                  <li><a class="dropdown-item" href="/player-analysis">Pressure Analysis</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Shot Selection Analysis</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Game Trends Analysis</a>
                  </li>
                </ul>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              {% if not request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="/Login">Login</a>
              </li>
              {% else %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Welcome {{request.user}}
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/Logout">Log Out</a></li>
                </ul>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
  <div class="container">
    <div class="embedded-content">
<iframe title="CricVision" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=f39e81bd-b697-4179-8113-e90a2e68767a&autoAuth=true&ctid=1aebe213-e1d5-4a84-94e4-fea494c21640" frameborder="0" allowFullScreen="true"></iframe>    </div>
  </div>
</body>
</html>
